<%= error_messages_for 'message' %>
<% replying ||= false %>

<%= f.text_field_form_group :subject, size: 120, label: l(:field_subject) %>
<% unless replying %>
  <% if @message.safe_attribute? 'sticky' %>
    <%= f.check_box_form_group :sticky, label: l(:label_board_sticky), group_class: 'form-check-inline' %>
  <% end %>
  <% if @message.safe_attribute? 'locked' %>
    <%= f.check_box_form_group :locked, label: l(:label_board_locked), group_class: 'form-check-inline' %>
  <% end %>
<% end %>

<% if !replying && !@message.new_record? && @message.safe_attribute?('board_id') %>
  <%= f.select_form_group :board_id, boards_options_for_select(@message.project.boards), {}, label: l(:label_board) %>
<% end %>

<%= f.text_area_form_group :content, cols: 80, rows: 15, id: 'message_content', accesskey: accesskey(:edit), data: { auto_complete: true }, label: l(:description_message_content) %>
<%= wikitoolbar_for 'message_content', preview_board_message_path(board_id: @board, id: @message) %>

<p>
  <%= l(:label_attachment_plural) %><br />
  <%= render 'attachments/form', container: @message %>
</p>
