<% show_label = options[:show_label] %>
<% label = options[:label] %>
<% label_class = options[:label_class] %>
<% group_classes = ['mb-3 form-group'] %>
<% group_classes << options[:group_class] %>

<% if options[:input_group_text].present? %>
  <% input_group_text = options[:input_group_text] %>
  <% input_group_class = 'input-group' %>
<% else %>
  <% input_group_class = nil %>
<% end %>

<% options.delete(:show_label) %>
<% options.delete(:label) %>
<% options.delete(:label_class) %>
<% options.delete(:group_class) %>
<% options.delete(:input_group_text) %>

<div class="<%= group_classes.compact.join(' ') %>">
  <%= f.label method, label, { class: label_class } if show_label %>

  <%= content_tag :div, class: input_group_class do %>
    <%= f.text_field method, options %>
    <%= content_tag(:span, input_group_text, class: 'input-group-text') if input_group_text.present? %>
  <% end %>

  <%= f.hint method, options[:hint] if options[:hint] %>
  <%= f.invalid_feedback method %>
  <%= f.valid_feedback method %>
</div>