<% unless @custom_field.new_record? %>
  <p>
    <label><%= l(:field_possible_values) %></label>
    <%= link_to l(:button_edit), custom_field_enumerations_path(@custom_field) %>
  </p>

  <% if @custom_field.enumerations.active.any? %>
    <%= f.page_selectult_value, @custom_field.enumerations.active.map{|v| [v.name, v.id.to_s]}, include_blank: true %>
  <% end %>
<% end %>

<%= f.text_field_form_group :url_pattern, size: 50, label: l(:label_link_values_to) %>

<%= edit_tag_style_tag f %>
