<% url ||= custom_fields_path %>
<% builder ||= PageFormBuilder %>
<% model ||= @custom_field %>
<% method ||= :post %>

<%= form_with scope: :custom_field, model: model, url: url, builder: builder, method: method do |f| %>
  <%= error_messages_for 'custom_field' %>
  <%= f.page_selectd_format, custom_field_formats_for_select(model), {}, disabled: !model.new_record? %>
  <%= f.page_text_field :name, size: 50, required: true %>
  <%= f.page_text_area :description, rows: 7 %>
  <% if model.format.multiple_supported %>
    <%= f.page_check_box :multiple, hint: (!model.new_record? && model.multiple ? l(:text_turning_multiple_off) : nil) %>
  <% end %>
  <%= render_custom_field_format_partial f, model %>
  <%= call_hook(:view_custom_fields_form_upper_box, custom_field: model, form: f) %>
  <%= f.page_check_box :is_required %>
  <% if %w(UserCustomField).include?(model.class.name) %>
    <%= f.page_check_box :visible %>
  <% end %>
  <% if model.is_a?(UserCustomField) %>
    <%= f.page_check_box :editable %>
  <% end %>
  <% if %w(IssueCustomField UserCustomField ProjectCustomField VersionCustomField GroupCustomField TimeEntryCustomField).include?(model.class.name) && model.format.is_filter_supported %>
    <%= f.page_check_box :is_filter %>
  <% end %>
  <% if %w(IssueCustomField ProjectCustomField).include?(model.class.name) && model.format.searchable_supported %>
    <%= f.page_check_box :searchable %>
  <% end %>
  <%= call_hook(:"view_custom_fields_form_#{model.type.to_s.underscore}", custom_field: model, form: f) %>
  <% if %w(IssueCustomField TimeEntryCustomField ProjectCustomField VersionCustomField).include?(model.class.name) %>
    <%= render 'visibility_by_role_selector', f: f %>
  <% end %>
  <% if model.is_a?(IssueCustomField) %>
    <%= render 'visibility_by_tracker_selector', f: f %>
    <%= render 'visibility_by_project_selector', f: f %>
  <% end %>
  <p>
    <% if model.new_record? %>
      <%= page_submit_tag l(:button_create) %>
      <%= page_submit_tag l(:button_create_and_continue), name: 'continue' %>
    <% else %>
      <%= page_submit_tag l(:button_save) %>
    <% end %>
  </p>
  <% include_calendar_headers_tags %>

  <% if model.new_record? %>
    <%= hidden_field_tag 'type', model.type %>
    <%= hidden_field_tag 'copy', @copy_from.id if @copy_from %>
  <% end %>
<% end %>
