<table class="table table-hover">
  <thead>
    <tr>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_field_format) %></th>
      <th><%= l(:field_is_required) %></th>
      <% if tab[:name] == 'IssueCustomField' %>
        <th><%= l(:field_is_for_all)%></th>
        <th><%= l(:label_used_by)%></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% (@custom_fields_by_type[tab[:name]] || []).sort.each do |custom_field| -%>
      <% back_url = custom_fields_path(tab: tab[:name]) %>
      <%= render 'custom_field', custom_field: custom_field, tab: tab %>
    <% end %>
  </tbody>
</table>
