<%= labelled_form_for @issue, html: { multipart: true } do |f| %>
  <%= error_messages_for 'issue', 'time_entry' %>
  <%= render 'conflict' if @conflict %>

  <% if @issue.attributes_editable? %>
    <%= page_heading :h3, l(:label_change_properties) %>

    <%= page_card do %>
      <%= render 'form', f: f %>
    <% end %>
  <% end %>

  <% if User.current.allowed_to?(:log_time, @project) %>
    <%= page_heading :h3, l(:button_log_time) %>

    <%= page_card do %>
      <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
        <%= page_paragraph do %>
          <%= time_entry.page_hours_field :hours, size: 6, label: :label_spent_time %> <%= l(:field_hours) %>
        <% end %>

        <%= page_paragraph do %>
          <%= time_entry.page_select :activity_id, activity_collection_for_select_options %>
        <% end %>

        <%= page_paragraph do %>
          <%= time_entry.page_text_field :comments, size: 60 %>
        <% end %>

        <% @time_entry.editable_custom_field_values.each do |value| %>
          <%= page_paragraph do %>
            <%= custom_field_tag_with_label :time_entry, value %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>
  <% end %>

  <% if @issue.notes_addable? %>
    <%= page_card do %>
      <%= page_heading :h3, l(:field_notes) %>

      <%= page_paragraph do %>
        <%= f.page_text_area :notes, cols: 60, rows: 10, data: { auto_complete: true }, no_label: true %>
      <% end %>

      <%= page_paragraph do %>
        <%= wikitoolbar_for 'issue_notes', preview_issue_path(project_id: @project, issue_id: @issue) %>
      <% end %>

      <% if @issue.safe_attribute? 'private_notes' %>
        <%= page_paragraph do %>
          <%= f.page_check_box :private_notes, label: l(:field_private_notes) %>
        <% end %>
      <% end %>

      <%= call_hook(:view_issues_edit_notes_bottom, { issue: @issue, notes: @notes, form: f }) %>
    <% end %>

    <%= page_card do %>
      <%= page_heading :h3, l(:label_attachment_plural) %>

      <% if @issue.attachments.any? && @issue.safe_attribute?('deleted_attachment_ids') %>
        <div class="contextual">
          <%= page_link_to l(:label_edit_attachments), '#', :onclick => "$('#existing-attachments').toggle(); return false;" %>
        </div>
        <div id="existing-attachments" style="<%= @issue.deleted_attachment_ids.blank? ? 'display:none;' : '' %>">
          <% @issue.attachments.each do |attachment| %>
          <span class="existing-attachment">
            <%= page_text_field_tag '', attachment.filename, disabled: true %>
            <label>
              <%= page_check_box_tag 'issue[deleted_attachment_ids][]', attachment.id, @issue.deleted_attachment_ids.include?(attachment.id), :id => nil, :class => "deleted_attachment" %> <%= l(:button_delete) %>
            </label>
          </span>
          <% end %>
        </div>
      <% end %>

      <div>
        <%= render 'attachments/form', container: @issue %>
      </div>
    <% end %>
  <% end %>

  <%= f.hidden_field :lock_version %>
  <%= hidden_field_tag 'last_journal_id', params[:last_journal_id] || @issue.last_journal_id %>
  <%= page_submit_tag l(:button_submit) %>
  <%= page_link_to(l(:button_cancel), issue_path(id: @issue.id), onclick: params[:action] == 'show' ? "$('#update').hide(); return false;" : '') %>
  <%= hidden_field_tag 'prev_issue_id', @prev_issue_id if @prev_issue_id %>
  <%= hidden_field_tag 'next_issue_id', @next_issue_id if @next_issue_id %>
  <%= hidden_field_tag 'issue_position', @issue_position if @issue_position %>
  <%= hidden_field_tag 'issue_count', @issue_count if @issue_count %>
<% end %>
