<% html_title(l(:label_issue_new)) %>

<%= page_title page_heading(:h2, page_icon(:book) + '&nbsp;'.html_safe + l(:label_issue_new)) %>

<%= page_card do %>
  <%= call_hook(:view_issues_new_top, { issue: @issue }) %>
  <%= form_with model: @issue, url: _project_issues_path(@project), html: { multipart: true }, builder: PageFormBuilder do |f| %>
    <%= error_messages_for 'issue' %>
    <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
    <%= render 'issues/form', f: f %>
    <%= page_paragraph do %>
      <%= page_check_box_tag 'link_copy', '1', @link_copy, label: l(:label_link_copied_issue) %>
    <% end if @copy_from && Setting.link_copied_issue == 'ask' %>
    <%= page_paragraph do %>
      <%= page_check_box_tag 'copy_attachments', '1', @copy_attachments, label: l(:label_copy_attachments) %>
    <% end if @copy_from && @copy_from.attachments.any? %>
    <%= page_paragraph do %>
      <%= page_check_box_tag 'copy_subtasks', '1', @copy_subtasks, label: l(:label_copy_subtasks) %>
    <% end if @copy_from && !@copy_from.leaf? %>
    <%= page_paragraph do %>
      <label><%= l(:label_attachment_plural) %></label>
      <%= render 'attachments/form', container: @issue %>
    <% end %>
    <%= page_paragraph do %>
      <%= render 'issues/watchers_form' %>
    <% end %>
    <%= page_paragraph do %>
      <%= page_submit_tag l(:button_create) %>
      <%= page_submit_tag l(:button_create_and_continue), name: 'continue' %>
    <% end %>
  <% end %>
<% end %>

<% content_for :header_tags do %>
  <%= robot_exclusion_tag %>
<% end %>
