<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>

<% title = [] %>
<% title << page_heading(:h2, issue_heading(@issue)) %>
<% title << content_tag(:span, l(:label_closed_issues), class: 'badge bg-danger') if @issue.status.is_closed? %>
<% title << content_tag(:span, l(:label_open_issues), class: 'badge bg-primary') unless @issue.status.is_closed? %>
<% title << content_tag(:span, l(:field_is_private), class: 'badge bg-danger shadow') if @issue.is_private? %>

<%= page_title page_flex(title.join.html_safe, gap: 2, align_items: :start) do %>
  <%= render 'action_menu' %>
<% end %>

<div class="<%= @issue.css_classes %> details">
  <%= page_flex do %>
    <%= page_col width: 'auto' do %>
      <%= author_avatar(@issue.author, size: 50) %>
      <%= assignee_avatar(@issue.assigned_to, size: 22, class: 'gravatar-child') if @issue.assigned_to %>
    <% end %>
    <%= page_col do %>
      <%= render_issue_subject_with_tree(@issue) %>
      <div class="text-muted small fw-light">
        <%= authoring @issue.created_on, @issue.author %>.
        <% if @issue.created_on != @issue.updated_on %>
          <%= l(:label_updated_time, time_tag(@issue.updated_on)).html_safe %>.
        <% end %>
      </div>
    <% end %>
    <% if @prev_issue_id || @next_issue_id %>
      <div class="col-auto fw-light">
        <%= link_to_if @prev_issue_id, "\xc2\xab #{l(:label_previous)}", (@prev_issue_id ? issue_path(@prev_issue_id) : nil), title: "##{@prev_issue_id}", accesskey: accesskey(:previous), class: 'text-decoration-none' %> |
        <% if @issue_position && @issue_count %>
          <span class="position">
            <%= link_to_if @query_path, l(:label_item_position, position: @issue_position, count: @issue_count), @query_path, class: 'text-decoration-none' %>
          </span> |
        <% end %>
        <%= link_to_if @next_issue_id, "#{l(:label_next)} \xc2\xbb", (@next_issue_id ? issue_path(@next_issue_id) : nil), title: "##{@next_issue_id}", accesskey: accesskey(:next), class: 'text-decoration-none' %>
      </div>
    <% end %>
  <% end %>
  <%= page_paragraph do %>
    <%= page_accordion [{
      id: 'issues_show_general',
      show: true,
      header: l(:label_general),
      body: render('general', issue: @issue)
    }] %>
  <% end %>
  <%= page_paragraph do %>
    <%= page_accordion [{
      id: 'issues_show_description',
      show: true,
      header: render('issues/description_header'),
      body: render('issues/description')
    }] %>
  <% end if @issue.description? %>
  <%= page_paragraph do %>
    <%= page_accordion [{
      id: 'issues_show_attachment',
      show: true,
      header: l(:label_attachment_plural),
      body: link_to_attachments(@issue, thumbnails: true)
    }] %>
  <% end if @issue.attachments.any? %>
  <%= render_full_width_custom_fields_rows(@issue) %>
  <%= call_hook(:view_issues_show_description_bottom, issue: @issue) %>
  <%= page_paragraph do %>
    <%= page_accordion [{
      id: 'issues_show_subtasks',
      header: render('issues/subtasks_header'),
      body: render('issues/subtasks')
    }] %>
  <% end if !@issue.leaf? || User.current.allowed_to?(:manage_subtasks, @project) %>
  <%= page_paragraph do %>
    <%= page_accordion [{
      id: 'issues_show_relations',
      header: render('issues/relations_header'),
      body: render('issues/relations')
    }] %>
  <% end if @relations.present? || User.current.allowed_to?(:manage_issue_relations, @project) %>
</div>

<%= page_paragraph do %>
  <%= render 'action_menu_edit' %>
<% end if User.current.wants_comments_in_reverse_order? %>

<%= page_paragraph do %>
  <%#= render_tabs issue_history_tabs, issue_history_default_tab %>
  <% history_tab = issue_history_tabs.select { |tab| tab[:name] == 'history' }.first %>
  <%#= render 'issues/tabs/history', tab: history_tab if history_tab.present? %>
<% end %>

<%= page_paragraph do %>
  <%= render 'action_menu_edit' %>
<% end if User.current.wants_comments_in_reverse_order? %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', url: { key: User.current.rss_key } %>
  <%= f.link_to 'PDF' %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'issues/sidebar' %>
  <% if User.current.allowed_to?(:add_issue_watchers, @project) || (@issue.watchers.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %>
    <%= render 'watchers/watchers', watched: @issue %>
  <% end %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, { format: 'atom', key: User.current.rss_key }, title: "#{@issue.project} - #{@issue.tracker} ##{@issue.id}: #{@issue.subject}") %>
<% end %>
