<div class="list-group list-group-flush">
  <% menu_items_for(:admin_menu) do |node| %>
    <% caption, url, selected = extract_node_details(node) %>
    <% if node.name == :settings %>
      <% tabs = administration_settings_tabs.map{|tab| tab[:name]} %>
      <div class="list-group-item list-group-item-action<%= ' ' if selected %>">
        <%= link_to url, class: "btn p-0 accordion-button shadow-none bg-transparent #{'collapsed' unless tabs.include?(params[:tab])}",
              'data-name': node.name,
              'data-bs-toggle': 'collapse',
              'data-bs-target': '#sub-settings-menu' do %>
          <%= render_icon(node.name, type: 'fill', class: 'pe-2') %><%= caption %>
        <% end %>
        <ul class="collapse<%= ' show' if tabs.include?(params[:tab]) %> list-group list-group-flush" id="sub-settings-menu">
          <% administration_settings_tabs.each_with_index do |tab, index| %>
            <li class="list-group-item">
              <%= link_to l(tab[:label]), { controller: 'settings', action: 'index', tab: tab[:name] },
                    class: "dropdown-item#{' active rounded-pill' if tab[:name] == params[:tab]}" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= link_to url, class: "list-group-item list-group-item-action#{' active rounded-pill' if selected}", data: { name: node.name } do %>
        <%= render_icon(node.name, type: 'fill', class: 'pe-2') %><%= caption %>
      <% end %>
    <% end %>
  <% end %>
</div>