<tr id="plugin-<%= plugin.id %>">
  <td class="name">
    <span class="name"><%= plugin.name %></span>
    <%= content_tag('span', plugin.description) unless plugin.description.blank? %>
    <%= content_tag('span', link_to(plugin.url, plugin.url, class: 'text-decoration-none')) unless plugin.url.blank? %>
  </td>
  <td class="author">
    <%= plugin.author_url.blank? ? plugin.author : link_to(plugin.author, plugin.author_url, class: 'text-decoration-none') %>
  </td>
  <td class="version">
    <span class="icon"><%= plugin.version %></span>
  </td>
  <td class="configure">
    <%= link_to l(:button_configure), plugin_settings_path(plugin), class: 'text-decoration-none' if plugin.configurable? %>
  </td>
</tr>