<% html_title(l(:label_information_plural)) -%>

<%= page_title content_tag(:h2, l(:label_information_plural)) %>

<%= page_card do %>
  <p>
    <strong><%= Redmine::Info.versioned_name %></strong>
  </p>
  <table class="table table-hover">
    <% @checklist.each do |label, result| %>
      <%= render 'info', label: label, result: result %>
    <% end %>
  </table>
  <div>
    <pre><%= Redmine::Info.environment %></pre>
  </div>
<% end %>