<% html_title l(:label_workflow) %>

<%= page_title page_heading(:h2, page_icon(:infinity, class: 'pe-2') + l(:label_workflow)) do %>
  <%= render 'action_menu' %>
<% end %>

<%= page_paragraph do %>
  <%= page_nav mode: :pills do %>
    <%= page_nav_link l(:label_status_transitions), workflows_edit_path(role_id: @roles, tracker_id: @trackers), icon: 'medium' %>
    <%= page_nav_link l(:label_fields_permissions), workflows_permissions_path(role_id: @roles, tracker_id: @trackers), icon: 'gem', active: true %>
  <% end %>
<% end %>
<%= page_card do %>
  <%= page_paragraph l(:text_workflow_edit) %>
  <%= page_paragraph do %>
    <%= page_form_tag({}, method: :get) do %>
      <%= page_flex align_items: :center, gap: 2 do %>
        <%= options_for_workflow_select 'role_id[]', Role.sorted.select(&:consider_workflow?), @roles,
              label: "#{l(:label_role)}:",
              append: page_link_to(nil, '#', icon: :plus, processor: 'workflows/toggle_select', target: '[name="role_id[]"]'),
              inline: true %>
        <%= options_for_workflow_select 'tracker_id[]', Tracker.sorted, @trackers,
              label: "#{l(:label_tracker)}:",
              append: page_link_to(nil, '#', icon: :plus, processor: 'workflows/toggle_select', target: '[name="tracker_id[]"]'),
              inline: true %>
        <%= page_button_tag l(:button_edit), color: :dark, outline: true, type: :submit %>
        <%= content_tag :div, class: 'col-6' do %>
          <%= hidden_field_tag 'used_statuses_only', '0', id: nil %>
          <%= page_check_box_tag 'used_statuses_only', '1', @used_statuses_only, label: l(:label_display_used_statuses_only) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @trackers && @roles && @statuses.any? %>
    <%= page_form_tag({}) do %>
      <%= @trackers.map {|tracker| hidden_field_tag 'tracker_id[]', tracker.id, id: nil}.join.html_safe %>
      <%= @roles.map {|role| hidden_field_tag 'role_id[]', role.id, id: nil}.join.html_safe %>
      <%= hidden_field_tag 'used_statuses_only', params[:used_statuses_only], id: nil %>
      <%= page_table do %>
        <%= page_table_thead do %>
          <%= page_table_tr class: 'table-secondary' do %>
            <%= page_table_th %>
            <%= page_table_th l(:label_issue_status), colspan: @statuses.length %>
          <% end %>
          <%= page_table_tr do %>
            <%= page_table_td %>
            <%= page_table_td @statuses.map {|status| { content: status.name, options: { style: "width:#{75 / @statuses.size}%;" } }} %>
          <% end %>
        <% end %>
        <%= page_table_tbody do %>
          <%= page_table_tr do %>
            <%= page_table_td colspan: @statuses.size + 1 do %>
              <%= page_accordion_button l(:field_core_fields), target: 'tr.core-field', show: true %>
            <% end %>
          <% end %>
          <% @fields.each do |field, name| %>
            <%= page_table_tr class: "core-field collapse show" do %>
              <%= page_table_td class: 'ps-3' do %>
                <span class="ps-2"><%= name %></span> <%= content_tag('span', '*', class: 'required') if field_required?(field) %>
              <% end %>
              <% for status in @statuses -%>
                <%= page_table_td class: @permissions[status.id][field].try(:join, ' '), title: "#{name} (#{status.name})" do %>
                  <%= page_stack do %>
                    <%= field_permission_tag(@permissions, status, field, @roles) %>
                    <%= page_link_to('&#187;'.html_safe, '#', title: l(:button_copy), processor: 'workflows/repeat_value') unless status == @statuses.last %>
                  <% end %>
                <% end %>
              <% end -%>
            <% end %>
          <% end %>
          <% if @custom_fields.any? %>
            <%= page_table_tr do %>
              <%= page_table_td colspan: @statuses.size + 1 do %>
                <%= page_accordion_button l(:label_custom_field_plural), target: 'tr.custom-field', show: true %>
              <% end %>
            <% end %>
            <% @custom_fields.each do |field| %>
              <%= page_table_tr class: 'custom-field collapse show' do %>
                <%= page_table_td do %>
                  <%= field.name %> <%= content_tag('span', '*', class: 'required') if field_required?(field) %>
                <% end %>
                <% for status in @statuses -%>
                  <%= page_table_td class: @permissions[status.id][field.id.to_s].try(:join, ' '), title: "#{field.name} (#{status.name})" do %>
                    <%= page_stack do %>
                      <%= field_permission_tag(@permissions, status, field, @roles) %>
                      <%= page_link_to('&#187;'.html_safe, '#', title: l(:button_copy), processor: 'workflows/repeat_value') unless status == @statuses.last %>
                    <% end %>
                  <% end %>
                <% end -%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= page_paragraph do %>
        <%= page_button_tag l(:button_save), color: :dark, outline: true, type: :submit %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
