<tr id="group-<%= group.id %>" class="<%= "builtin" if group.builtin? %>">
  <td>
    <%= link_to group, edit_group_path(group), class: 'text-decoration-none' %>
  </td>
  <td>
    <%= (@user_count_by_group_id[group.id] || 0) unless group.builtin? %>
  </td>
  <td>
    <%= delete_link group unless group.builtin? %>
  </td>
</tr>