<%= page_title content_tag(:h2, l(:label_group_plural)) do %>
  <%= link_to l(:label_group_new), new_group_path, class: 'btn btn-success' %>
<% end %>

<%= render 'groups/filters' %>

<% if @groups.any? %>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= l(:label_group) %></th>
            <th><%= l(:label_user_plural) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'groups/group', collection: @groups %>
        </tbody>
      </table>
    </div>
  </div>
  <span class="pagination"><%= pagination_links_full @group_pages, @group_count %></span>
<% else %>
  <%= render 'no_data' %>
<% end %>
