<div class="d-flex justify-content-between mt-3">
  <%= title l(:label_group_plural) %>
  <div class="d-flex align-items-center gap-1" role="group" aria-label="Issue actions">
    <%= link_to l(:label_group_new), new_group_path, class: 'btn btn-success' %>
  </div>
</div>

<%= render 'filters' %>

<% if @groups.any? %>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= l(:label_group) %></th>
            <th><%= l(:label_user_plural) %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr id="group-<%= group.id %>" class="<%= "builtin" if group.builtin? %>">
              <td class="name"><%= link_to group, edit_group_path(group) %></td>
              <td class="user_count"><%= (@user_count_by_group_id[group.id] || 0) unless group.builtin? %></td>
              <td class="buttons"><%= delete_link group unless group.builtin? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <span class="pagination"><%= pagination_links_full @group_pages, @group_count %></span>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
