<%= error_messages_for 'user' %>

<fieldset class="box tabular">
  <legend><%= l(:label_information_plural) %></legend>

  <div class="mb-3">
    <%= f.label :login %>
    <%= f.text_field :login, required: true, size: 25, class: 'form-control'  %>
  </div>

  <div class="mb-3">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, required: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, required: true, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :mail %>
    <%= f.text_field :mail, required: true, class: 'form-control' %>
  </div>

  <% unless @user.force_default_language? %>
    <div class="mb-3">
      <%= f.label :language %>
      <%= f.select :language, lang_options_for_select, {}, class: 'form-select' %>
    </div>
  <% end %>

  <% if Setting.openid? %>
    <div class="mb-3">
      <%= f.label :identity_url %>
      <%= f.text_field :identity_url, class: 'form-control'  %>
    </div>
  <% end %>

  <% @user.custom_field_values.each do |value| %>
    <div class="mb-3">
      <%= custom_field_tag_with_label :user, value %>
    </div>
  <% end %>

  <div class="mb-3 form-check form-switch">
    <%= f.label :admin %>
    <%= f.check_box :admin, disabled: @user == User.current, class: 'form-check-input' %>
  </div>

  <%= call_hook(:view_users_form, user: @user, form: f) %>
</fieldset>

<fieldset class="box tabular">
  <legend><%= l(:label_authentication) %></legend>

  <% unless @auth_sources.empty? %>
    <div class="mb-3">
      <%= f.label :auth_source_id %>
      <%= f.select :auth_source_id, ([[l(:label_internal), ""]] + @auth_sources.collect { |a| [a.name, a.id] }), {},
            class: 'form-select',
            onchange: "if (this.value=='') {$('#password_fields').show();} else {$('#password_fields').hide();}" %>
    </div>
  <% end %>

  <div id="password_fields" style="<%= 'display:none;' if @user.auth_source %>">
    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password, required: @user.new_record?, size: 25, class: 'form-control'  %>
      <em class="text-muted small"><%= l(:text_caracters_minimum, count: Setting.password_min_length) %></em>
      <% if Setting.password_required_char_classes.any? %>
        <em class="text-muted small">
          <%= l(:text_characters_must_contain, character_classes: Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) %>
        </em>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: @user.new_record?, size: 25, class: 'form-control'  %>
    </div>

    <div class="mb-3 form-check form-switch">
      <%= f.label :generate_password, class: 'form-check-label' %>
      <%= f.check_box :generate_password, class: 'form-check-input' %>
    </div>

    <div class="mb-3 form-check form-switch">
      <%= f.label :must_change_passwd, class: 'form-check-label' %>
      <%= f.check_box :must_change_passwd, class: 'form-check-input' %>
    </div>
  </div>

  <% if Setting.twofa? && !@user.new_record? -%>
    <div class="mb-3">
      <label><%=l :setting_twofa -%></label>
      <% if @user.twofa_active? %>
        <%= l 'twofa_currently_active', twofa_scheme_name: l("twofa__#{@user.twofa_scheme}__name") -%>
        <br/>
        <% if @user == User.current # administrators cannot deactivate their own 2FA without confirmation code %>
          <%= link_to l('button_disable'), { controller: 'twofa', action: 'deactivate_init', scheme: @user.twofa_scheme }, method: :post -%>
        <% else %>
          <%= link_to l('button_disable'), { controller: 'twofa', action: 'admin_deactivate', user_id: @user }, method: :post -%>
        <% end %>
      <% else %>
        <%= l('twofa_not_active') %>
      <% end %>
    </div>
  <% end -%>
</fieldset>

<fieldset class="box">
  <legend><%= l(:field_mail_notification) %></legend>
  <%= render 'users/mail_notifications', f: f %>
</fieldset>

<fieldset class="box tabular">
  <legend><%= l(:label_preferences) %></legend>
  <%= render 'users/preferences', f: f %>
  <%= call_hook(:view_users_form_preferences, user: @user, form: f) %>
</fieldset>