<%= form_with model: @user, html: { multipart: true } do |f| %>
  <%= render 'users/form', f: f %>

  <% if @user.active? && email_delivery_enabled? && @user != User.current -%>
    <div class="mb-3 form-check form-switch">
      <label class="form-check-label"><%= l(:label_send_information) %></label>
      <%= check_box_tag 'send_information', 1, params[:send_information], class: 'form-check-input' %>
    </div>
  <% end -%>

  <div class="mb-3">
    <%= submit_tag l(:button_save), class: 'btn btn-primary' %>
  </div>
<% end %>
