<%= form_with(scope: :user, url: { action: 'update' }, html: { method: :put }) do |f| %>
  <% user_group_ids = @user.group_ids %>

  <% Group.givable.sort.each do |group| %>
    <div class="mb-3 form-check form-switch">
      <label class="form-check-label"><%= group %></label>
      <%= check_box_tag 'user[group_ids][]', group.id, user_group_ids.include?(group.id), id: nil, class: 'form-check-input' %> 
    </div>
  <% end %>

  <%= hidden_field_tag 'user[group_ids][]', '' %>

  <div class="mb-3">
    <%= check_all_links 'user_group_ids' %>
  </div>

  <div class="mb-3">
    <%= submit_tag l(:button_save), class: 'btn btn-primary' %>
  </div>
<% end %>
