<div class="mb-3">
  <%= f.label :mail_notification, l(:description_user_mail_notification) %>
  <%= f.select :mail_notification, user_mail_notification_options(@user), {}, class: 'form-select' %>
</div>

<%= content_tag 'fieldset', id: 'notified-projects', style: (@user.mail_notification == 'selected' ? '' : 'display:none;') do %>
  <legend>
    <%= toggle_checkboxes_link("#notified-projects input[type=checkbox]") %><%= l(:label_project_plural) %>
  </legend>
  <%= render_project_nested_lists(@user.projects) do |project|
        content_tag('label',
          check_box_tag(
            'user[notified_project_ids][]',
             project.id,
             @user.notified_projects_ids.include?(project.id),
             :id => nil
          ) + ' ' + h(project.name)
        )
      end %>
  <%= hidden_field_tag 'user[notified_project_ids][]', '' %>
  <p><em class="info"><%= l(:text_user_mail_option) %></em></p>
<% end %>

<%= fields_for :pref, @user.pref do |pref_fields| %>
  <% if IssuePriority.default_or_middle and high_priority = IssuePriority.where(['position > ?', IssuePriority.default_or_middle.position]).first %>
    <div class="mb-3 form-check form-switch">
      <%= pref_fields.label :notify_about_high_priority_issues, t(:label_user_mail_notify_about_high_priority_issues_html, prio: high_priority.name.downcase), class: 'form-check-label' %>
      <%= pref_fields.check_box :notify_about_high_priority_issues, class: 'form-check-input' %>
    </div>
  <% end %>

  <div class="mb-3 form-check form-switch">
    <%= f.label :no_self_notified, l(:label_user_mail_no_self_notified), class: 'form-check-label' %>
    <%= pref_fields.check_box :no_self_notified, class: 'form-check-input' %>
  </div>
<% end %>
