<% html_title(l(:label_user_plural)) -%>

<%= page_title content_tag(:h2, [page_icon(:users), l(:label_user_plural)].join('&nbsp;').html_safe) do %>
  <%= page_link_to l(:label_user_new), new_user_path, icon: :plus %>
  <%= render 'users/actions/index' %>
<% end %>
<%= page_paragraph do %>
  <%= page_accordion [
    {
      id: 'admin_users_filter',
      show: params.has_key?(:status) || params.has_key?(:name) || params.has_key?(:group_id),
      header: l(:label_filter_plural),
      body: render('users/filters')
    }
  ] %>
<% end %>
<% if @users.any? %>
  <%= page_table do %>
    <%= page_table_thead do %>
      <%= page_table_tr do %>
        <%= sort_header_tag('login', caption: l(:field_login)) %>
        <%= sort_header_tag('firstname', caption: l(:field_firstname)) %>
        <%= sort_header_tag('lastname', caption: l(:field_lastname)) %>
        <%= page_table_th l(:field_mail) %>
        <%= sort_header_tag('admin', caption: l(:field_admin), default_order: 'desc') %>
        <%= sort_header_tag('created_on', caption: l(:field_created_on), default_order: 'desc') %>
        <%= sort_header_tag('last_login_on', caption: l(:field_last_login_on), default_order: 'desc') %>
        <%= page_table_th '&nbsp;'.html_safe %>
      <% end %>
    <% end %>
    <%= page_table_tbody render(@users) %>
  <% end %>
  <div class="d-flex justify-content-between">
    <div>
      <%= pagination_links_full @user_pages, @user_count %>
    </div>
    <div>
      <%= l(:label_export_to) %>
      <% other_formats_links do |f| %>
        <%= f.link_to_with_query_parameters 'CSV', {}, 'data-bs-toggle': 'modal', 'data-bs-target': '#csv-export-options' %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= page_empty %>
<% end %>

<%= page_modal id: 'csv-export-options' do %>
  <%= page_form_tag users_path(format: :csv), method: :get do %>
    <%= page_modal_header page_modal_title(l(:label_export_options, export_format: 'CSV')) %>
    <%= page_modal_body export_csv_encoding_select_tag %>
    <%= page_modal_footer do %>
      <%= page_submit_tag(l(:button_export), name: nil, id: 'csv-export-button') %>
      <%= page_submit_tag(l(:button_cancel), name: nil, type: 'button', color: 'link', 'data-bs-dismiss': 'modal') %>
    <% end %>
  <% end %>
<% end %>