<%= page_title content_tag(:h3, label), html_class: 'd-flex justify-content-between mb-3' do %>
  <%= link_to l(:button_reset), project_enumerations_path(@project), method: :delete, data: { confirm: l(:text_are_you_sure) } %>
  <%= link_to l(:label_administration), enumerations_path if User.current.admin? %>
<% end %>

<%= form_tag project_enumerations_path(@project), method: :put do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:enumeration_system_activity) %></th>
        <% TimeEntryActivity.new.available_custom_fields.each do |value| %>
          <th><%= value.name %></th>
        <% end %>
        <th>
          <%= content_tag(:i, nil, class: 'h4 bi bi-check-all') %><%= content_tag(:span, l(:field_active)) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @project.activities(true).each do |enumeration| %>
        <%= fields_for "enumerations[#{enumeration.id}]", enumeration do |ff| %>
          <tr>
            <td>
              <%= ff.hidden_field :parent_id, value: enumeration.id unless enumeration.project %>
              <%= enumeration %>
            </td>
            <td>
              <%= content_tag(:i, nil, class: 'bi bi-check h3') if !enumeration.project %>
            </td>
            <% enumeration.custom_field_values.each do |value| %>
              <td>
                <%= custom_field_tag "enumerations[#{enumeration.id}]", value %>
              </td>
            <% end %>
            <td>
              <%= ff.check_box :active, class: 'form-check-input' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag l(:button_save) %>
<% end %>
