<%= form_for @project, builder: PageFormBuilder do |f| %>
  <%= hidden_field_tag 'tab', 'issues' %>

  <% unless @trackers.empty? %>
    <%= page_card class: 'mb-3' do %>
      <h5><%= link_to content_tag(:i, nil, class: 'bi bi-check-all h4'), '#', class: 'text-decoration-none' %><%= l(:label_tracker_plural)%></h5>
      <div class="d-flex justify-content-between">
        <div>
          <% @trackers.each do |tracker| %>
            <%= f.check_box_form_group :tracker_ids, {
                  group_class: 'form-check-inline',
                  label: tracker_name_tag(tracker),
                  name: 'project[tracker_ids][]',
                  checked: @project.trackers.to_a.include?(tracker)
                }, tracker.id %>
          <% end %>
          <%= hidden_field_tag 'project[tracker_ids][]', '' %>
        </div>

        <%= link_to l(:label_administration), trackers_path, class: 'text-decoration-none' if User.current.admin? %>
      </div>
    <% end %>
  <% end %>

  <% unless @issue_custom_fields.empty? %>
    <%= page_card class: 'mb-3' do %>
      <h5><%= link_to content_tag(:i, nil, class: 'bi bi-check-all h4'), '#', class: 'text-decoration-none' %><%=l(:label_custom_field_plural)%></h5>
      <div class="d-flex justify-content-between">
        <div>
          <% @issue_custom_fields.each do |custom_field| %>
            <%= f.check_box_form_group :issue_custom_field_ids, {
                  group_class: 'form-check-inline',
                  label: custom_field_name_tag(custom_field),
                  name: 'project[issue_custom_field_ids][]',
                  checked: @project.all_issue_custom_fields.include?(custom_field),
                  disabled: (custom_field.is_for_all? ? 'disabled' : nil)
                }, custom_field.id %>
          <% end %>
          <%= hidden_field_tag 'project[issue_custom_field_ids][]', '' %>
        </div>

        <%= link_to l(:label_administration), custom_fields_path, class: 'text-decoration-none' if User.current.admin? %>
      </div>
    <% end %>
  <% end %>

  <%= page_card class: 'mb-3' do %>
    <%= f.page_selectult_version_id, project_default_version_options(@project), include_blank: l(:label_none) if @project.safe_attribute?('default_version_id') %>
    <%= f.page_select :default_assigned_to_id, project_default_assigned_to_options(@project), include_blank: l(:label_none) if @project.safe_attribute?('default_assigned_to_id') %>
  <% end %>

  <%= f.action_form_group :button_save %>
<% end %>
