<% remote ||= false %>
<% method ||= :post %>
<% principal ||= @principal %>
<% projects ||= @projects || [] %>
<% roles ||= @roles || [] %>
<% url ||= user_memberships_path(principal) %>

<%= form_for :membership, url: url, method: method, remote: remote do %>
  <fieldset>
    <legend>
      <%= toggle_checkboxes_link('.projects-selection input:enabled') %><%= l(:label_project_plural) %>
    </legend>
    <div class="mb-3">
      <%= render_project_nested_lists(projects) do |p| %>
        <div class="form-check form-switch">
          <label class="form-check-label"><%= p %></label>
          <%= check_box_tag 'membership[project_ids][]', p.id, false, id: nil, disabled: principal.member_of?(p), class: 'form-check-input' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      <%= toggle_checkboxes_link('.roles-selection input') %><%= l(:label_role_plural) %>
    </legend>
    <div class="mb-3">
      <% roles.each do |role| %>
        <div class="form-check form-check-inline form-switch">
          <label class="form-check-label"><%= role %></label>
          <%= check_box_tag 'membership[role_ids][]', role.id, false, id: nil, class: 'form-check-input' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="mb-3">
    <%= submit_tag l(:button_add), name: nil, class: 'btn btn-primary' %>
  </div>
<% end %>