<% remote ||= false %>
<% method ||= :post %>
<% principal ||= @principal %>
<% projects ||= @projects || [] %>
<% roles ||= @roles || [] %>
<% url ||= user_memberships_path(principal) %>

<%= form_for :membership, url: url, method: method, remote: remote do %>
  <fieldset>
    <legend>
      <%= link_to '#', class: 'check-all text-decoration-none', data: { processor: 'principal_memberships/actions/toggle_checkbox', target: '.projects' } do %>
        <i class="bi bi-check-all"></i>
      <% end %>
      <%= l(:label_project_plural) %>
    </legend>
    <div class="mb-3 projects">
      <% projects.sort_by(&:lft).each do |project| %>
        <div class="form-check form-switch">
          <label class="form-check-label"><%= project.name %></label>
          <%= check_box_tag 'membership[project_ids][]', project.id, principal.member_of?(project),
                id: nil, disabled: principal.member_of?(project), class: 'form-check-input' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      <%= link_to '#', class: 'check-all text-decoration-none', data: { processor: 'principal_memberships/actions/toggle_checkbox', target: '.roles' } do %>
        <i class="bi bi-check-all"></i>
      <% end %>
      <%= l(:label_role_plural) %>
    </legend>
    <div class="mb-3 roles">
      <% roles.each do |role| %>
        <div class="form-check form-check-inline form-switch">
          <label class="form-check-label"><%= role %></label>
          <%= check_box_tag 'membership[role_ids][]', role.id, false, id: nil, class: 'form-check-input' %>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="mb-3">
    <%= submit_tag l(:button_add), name: nil, class: 'btn btn-primary' %>
  </div>
<% end %>