<% html_title(l(:label_enumerations)) -%>

<%= page_title content_tag(:h2, l(:label_enumerations)) %>
<% Enumeration.get_subclasses.each do |klass| %>
  <%= page_title content_tag(:h3, l(klass::OptionName)) do %>
    <%= page_link_to l(:label_enumeration_new), new_enumeration_path(type: klass.name), icon: :plus, class: 'btn btn-outline-success' %>
  <% end %>
  <% enumerations = klass.shared %>
  <%= page_card do %>
    <% if enumerations.any? %>
      <%= page_table do %>
        <%= page_table_thead do %>
          <%= page_table_tr do %>
            <% [l(:field_name), l(:field_is_default), l(:field_active), nil].each do |th_label| %>
              <%= page_table_th do %>
                <%= th_label %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= page_table_tbody processor: 'enumerations/sortable' do %>
          <% enumerations.each do |enumeration| %>
            <% tr_class = if enumeration.is_default?
                            'table-success'
                          elsif !enumeration.active?
                            'table-danger'
                          end %>
            <%= page_table_tr class: tr_class do %>
              <%= page_table_td do %>
                <%= page_link_to enumeration, edit_enumeration_path(enumeration) %>
              <% end %>
              <%= page_table_td do %>
                <%= page_icon(:check) if enumeration.is_default? %>
              <% end %>
              <%= page_table_td do %>
                <%= page_icon(:check) if enumeration.active? %>
              <% end %>
              <%= page_table_td do %>
                <%#= reorder_handle(enumeration, url: enumeration_path(enumeration), param: 'enumeration') %>
                <span class="btn handle-move" role="button" data-url="<%= enumeration_path(enumeration) %>" data-bs-toggle="tooltip" title="<%= l(:button_sort) %>" style="cursor:move;">
                  <%= page_icon('arrows-move') %>
                </span>
                <%= page_link_to l(:button_delete), enumeration_path(enumeration), icon: :trash %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= page_empty %>
    <% end %>
  <% end %>
<% end %>