<%= page_title content_tag(:h2, l(:label_home)) %>

<div class="row align-items-start">
  <div class="col">
    <% if Setting.welcome_text.present? %>
      <%= page_card do %>
        <%= textilizable Setting.welcome_text %>
      <% end %>
    <% end %>

    <%= call_hook(:view_welcome_index_left) %>
  </div>

  <div class="col-3">
    <% if @news.any? %>
      <h3><%=l(:label_news_latest)%></h3>
      <%= render partial: 'news/news', collection: @news %>
      <%= link_to l(:label_news_view_all), controller: 'news' %>
    <% end %>

    <%= call_hook(:view_welcome_index_right) %>
  </div>
</div>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, { controller: 'news', action: 'index', key: User.current.rss_key, format: 'atom' }, title: "#{Setting.app_title}: #{l(:label_news_latest)}") %>
  <%= auto_discovery_link_tag(:atom, { controller: 'activities', action: 'index', key: User.current.rss_key, format: 'atom' }, title: "#{Setting.app_title}: #{l(:label_activity)}") %>
<% end %>
