<%= form_with(scope: :settings, url: { action: 'edit', tab: 'api' }) do |f| %>
  <div class="mb-3 form-check form-switch">
    <%= f.label :rest_api_enabled, l(:setting_rest_api_enabled), class: 'form-check-label' %>
    <%= f.check_box :rest_api_enabled, checked: Setting.rest_api_enabled.to_s != '0', class: 'form-check-input' %>
  </div>
  <div class="mb-3 form-check form-switch">
    <%= f.label :jsonp_enabled, l(:setting_jsonp_enabled), class: 'form-check-label' %>
    <%= f.check_box :jsonp_enabled, checked: Setting.jsonp_enabled.to_s != '0', class: 'form-check-input' %>
  </div>
  <div class="mb-3">
    <%= submit_tag l(:button_save), class: 'btn btn-primary' %>
  </div>
<% end %>
