<table class="table">
  <thead>
    <tr>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_type) %></th>
      <th><%= l(:field_host) %></th>
      <th><%= l(:label_user_plural) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'source', collection: @auth_sources %>
    <% for source in @auth_sources %>
    <% end %>
  </tbody>
</table>
