<%= page_title title(l(:label_auth_source_plural)) do %>
  <%= link_to l(:label_auth_source_new), { action: 'new' }, class: 'btn btn-success' %>
<% end %>

<%= page_card do %>
  <% if @auth_sources.any? %>
    <%= render 'listing' %>
  <% else %>
    <%= render 'no_data' %>
  <% end %>
<% end %>

<span class="pagination"><%= pagination_links_full @auth_source_pages %></span>
