<%= page_title title(l(:label_auth_source_plural)) do %>
  <%= render 'auth_sources/actions/add', text: true %>
<% end %>

<%= page_card do %>
  <% if @auth_sources.any? %>
    <%= render 'listing' %>
  <% else %>
    <%= render 'no_data' %>
  <% end %>
<% end %>

<span class="pagination"><%= pagination_links_full @auth_source_pages %></span>
