<div class="dropdown">
  <button id="btnGroupProjectAction" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <%= l(:button_actions) %>
  </button>
  <ul class="dropdown-menu">
    <% if User.current.allowed_to?(:add_subprojects, @project) %>
      <li>
        <%= link_to l(:label_subproject_new), new_project_path(parent_id: @project), class: 'dropdown-item' %>
      </li>
    <% end %>
    <% if User.current.allowed_to?(:close_project, @project) %>
      <li>
        <% if @project.active? %>
          <%= link_to l(:button_close), close_project_path(@project), data: {confirm: l(:text_are_you_sure)}, method: :post, class: 'dropdown-item icon icon-lock' %>
        <% else %>
          <%= link_to l(:button_reopen), reopen_project_path(@project), data: {confirm: l(:text_are_you_sure)}, method: :post, class: 'dropdown-item icon icon-unlock' %>
        <% end %>
      </li>
    <% end %>
    <% if @project.deletable? %>
      <li>
        <%= link_to l(:button_delete), project_path(@project), method: :delete, class: 'dropdown-item icon icon-del' %>
      </li>
    <% end %>
    <li>
      <%= link_to_if_authorized l(:label_settings), { controller: 'projects', action: 'settings', id: @project }, class: 'dropdown-item icon icon-settings' if User.current.allowed_to?(:edit_project, @project) %>
    </li>
  </ul>
</div>