<tr class="<%= project.css_classes %>">
  <td class="align-middle" style="padding-left:<%= level.positive? ? "#{level}rem;" : nil %>;">
    <%= page_icon('chevron-right') if level.positive? %>
    <%= render 'projects/actions/setting', project: project, text: true, icon: false %>
  </td>
  <td class="align-middle">
    <%= content_tag(:i, nil, class: 'bi bi-check h3') if project.is_public? %>
  </td>
  <td class="align-middle">
    <%= format_date(project.created_on) %>
  </td>
  <td class="align-middle">
    <div class="hstack gap-1">
      <%= render 'projects/actions/archive', project: project, text: true, btn_class: 'btn btn-sm' %>
      <%= render 'projects/actions/copy', project: project, text: true, btn_class: 'btn btn-sm' %>
      <%= render 'projects/actions/delete', project: project, text: true, btn_class: 'btn btn-sm' %>
    </div>
  </td>
</tr>