<h3>
  <%= page_icon(:people, class: 'small me-1') %>
  <%= l(:label_member_plural) %>
</h3>

<%= page_card class: 'mb-3' do %>
  <ul class="list-unstyled">
    <% @principals_by_role.keys.sort.each do |role| %>
      <li>
        <span class="label"><%= role %>:</span>
        <%= @principals_by_role[role].sort.collect{|p| link_to_user p}.join(", ").html_safe %>
      </li>
    <% end %>
  </ul>
<% end %>
