<h3>
  <%= page_icon(:clock, class: 'small me-1') %>
  <%= l(:label_time_tracking) %>
</h3>
<%= page_card do %>
  <ul class="list-unstyled">
    <% if @total_estimated_hours.present? %>
      <li>
        <%= l(:field_estimated_hours) %>: <%= content_tag :strong, l_hours(@total_estimated_hours) %>
      </li>
    <% end %>
    <% if @total_hours.present? %>
      <li>
        <%= l(:label_spent_time) %>: <%= content_tag :strong, l_hours(@total_hours), class: 'text-success' %>
      </li>
    <% end %>
  </ul>
  <p>
    <% if User.current.allowed_to?(:log_time, @project) %>
      <%= page_link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
    <% end %>
    <%= page_link_to(l(:label_details), project_time_entries_path(@project)) %> |
    <%= page_link_to(l(:label_report), report_project_time_entries_path(@project)) %>
  </p>
<% end %>