<div class="card mb-3">
  <div class="spent_time box card-body">
    <h3 class="icon icon-time"><%= l(:label_time_tracking) %></h3>
    <ul>
      <% if @total_estimated_hours.present? %>
        <li><%= l(:field_estimated_hours) %>: <%= l_hours(@total_estimated_hours) %></li>
      <% end %>
      <% if @total_hours.present? %>
          <li><%= l(:label_spent_time) %>: <%= l_hours(@total_hours) %></li>
      <% end %>
    </ul>
    <p>
      <% if User.current.allowed_to?(:log_time, @project) %>
        <%= link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
      <% end %>
      <%= link_to(l(:label_details), project_time_entries_path(@project)) %> |
      <%= link_to(l(:label_report), report_project_time_entries_path(@project)) %>
    </p>
  </div>
</div>