<% html_title(l(:label_project_plural)) -%>
<% title = @query.new_record? ? l(:label_project_plural) : @query.name %>

<%= page_title content_tag(:h2, page_icon(:briefcase) + '&nbsp;'.html_safe + title) do %>
  <%= render 'projects/actions/add', text: true, icon: true if User.current.allowed_to?(:add_project, nil, global: true) %>
  <%= render 'projects/actions/administration', text: true, icon: true if User.current.admin? %>
<% end %>

<%= form_tag(projects_path(@project, nil), method: :get) do %>
  <%= render 'queries/query_form' %>
<% end %>

<%= page_card do %>
  <% if @query.valid? %>
    <% if @entries.empty? %>
      <%= page_empty %>
    <% else %>
      <%= render @query.display_type, entries: @entries %>
    <% end %>
  <% end %>
<% end %>

<% if User.current.logged? %>
  <div class="text-end">
    <%= page_badge class: 'bg-success' do %>
      <%= l(:label_my_projects) %>
    <% end %>
    <%= page_badge do %>
      <%= l(:label_my_bookmarks) %>
    <% end %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'projects/sidebar' %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', url: { key: User.current.rss_key } %>
  <% if @query.display_type == 'list' %>
    <%= f.link_to_with_query_parameters 'CSV', {}, onclick: "showModal('csv-export-options', '350px'); return false;" %>
  <% end %>
<% end %>
