<% html_title(l(:label_overview)) -%>

<%= page_title content_tag(:h2, l(:label_overview)) do %>
  <%= render 'projects/actions/bookmark', project: @project, user: User.current, text: true if User.current.logged? %>
  <%= render 'actions' %>
<% end %>

<% unless @project.active? %>
  <div class="alert alert-warning">
    <span class="bi bi-lock"><%= l(:text_project_closed) %></span>
  </div>
<% end %>

<div class="splitcontent">
  <div class="splitcontentleft">
    <% if @project.description.present? %>
      <div class="wiki">
        <%= textilizable @project.description %>
      </div>
    <% end %>

    <% if @project.homepage.present? || @project.visible_custom_field_values.any? { |o| o.value.present? } %>
      <ul>
        <% unless @project.homepage.blank? %>
          <li>
            <span class="label"><%= l(:field_homepage) %>:</span> <%= link_to_if uri_with_safe_scheme?(@project.homepage), @project.homepage, @project.homepage %>
          </li>
        <% end %>
        <% render_custom_field_values(@project) do |custom_field, formatted| %>
          <li class="<%= custom_field.css_classes %>">
            <span class="label"><%= custom_field.name %>:</span> <%= formatted %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render 'issues_box' if User.current.allowed_to?(:view_issues, @project) %>
    <%= render 'spent_time_box' if User.current.allowed_to?(:view_time_entries, @project) %>
    <%= call_hook(:view_projects_show_left, project: @project) %>
  </div>

  <div class="splitcontentright">
    <%= render 'news_box' if @news.any? && authorize_for('news', 'index') %>
    <%= render 'members_box' if @principals_by_role.any? %>
    <%= render 'sub_projects_box' if @subprojects.any? %>
    <%= call_hook(:view_projects_show_right, project: @project) %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= call_hook(:view_projects_show_sidebar_bottom, project: @project) %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, { controller: 'activities', action: 'index', id: @project, format: 'atom', key: User.current.rss_key }) %>
<% end %>
