<% html_title(l(:label_issue_status_plural)) -%>

<%= page_title content_tag(:h2, l(:label_issue_status_plural)) do %>
  <%= render 'issue_statuses/actions/add', text: true %>
  <%= render 'issue_statuses/actions/update_done_ratio', text: true if Issue.use_status_for_done_ratio? %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= l(:field_status) %></th>
      <% if Issue.use_status_for_done_ratio? %>
        <th><%=l(:field_done_ratio)%></th>
      <% end %>
      <th><%=l(:field_is_closed)%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @issue_statuses %>
  </tbody>
</table>
