<% html_title(l(:label_calendar)) -%>
<% label = @query.new_record? ? l(:label_calendar) : @query.name %>

<%= page_title content_tag(:h2, page_icon(:calendar) + '&nbsp;'.html_safe + label) %>

<%= form_tag({ controller: 'calendars', action: 'show', project_id: @project }, method: :get) do %>
  <%= hidden_field_tag 'set_filter', '1' %>
  <%= hidden_field_tag 'calendar', '1' %>
  <div>
    <fieldset class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend class="icon icon-<%= @query.new_record? ? "expended" : "collapsed" %>">
        <%= l(:label_filter_plural) %>
      </legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render 'queries/filters', query: @query %>
      </div>
    </fieldset>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <div class="hstack gap-1">
          <%= label_tag('month', l(:label_month)) %>
          <%= select_month(@month, { prefix: "month", discard_type: true }, class: 'form-select') %>
          <%= label_tag('year', l(:label_year)) %>
          <%= select_year(@year, { prefix: "year", discard_type: true }, class: 'form-select') %>
          <div class="hstack btn-group btn-group-sm">
            <%= render 'calendars/actions/apply', text: true, icon: false %>
            <%= render 'calendars/actions/clear', text: true, icon: false %>
            <%= render 'calendars/actions/save', text: true, icon: false if @query.new_record? && User.current.allowed_to?(:save_queries, @project, global: true) %>
            <% if !@query.new_record? && @query.editable_by?(User.current) %>
              <%= render 'calendars/actions/edit', text: true, icon: false %>
              <%= render 'calendars/actions/delete', text: true, icon: false %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="btn-group btn-group-sm shadow">
        <%= link_to_previous_month(@year, @month, accesskey: accesskey(:previous), class: 'btn btn-outline-primary') %>
        <%= link_to_next_month(@year, @month, accesskey: accesskey(:next), class: 'btn btn-outline-primary') %>
      </div>
    </div>
  </div>
<% end %>

<%= error_messages_for 'query' %>

<% if @query.valid? %>
  <%= page_card class: 'shadow' do %>
    <%= render 'common/calendar', calendar: @calendar %>
  <% end %>
  <%= call_hook(:view_calendars_show_bottom, year: @year, month: @month, project: @project, query: @query) %>
  <div class="vstack">
    <span>
      <%= page_icon('backspace-reverse-fill') %>&nbsp;<%= l(:text_tip_issue_begin_day) %>
    </span>
    <span>
      <%= page_icon('backspace-fill') %>&nbsp;<%= l(:text_tip_issue_end_day) %>
    </span>
    <span>
      <%= page_icon('diamond-fill') %>&nbsp;<%= l(:text_tip_issue_begin_end_day) %>
    </span>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'issues/sidebar' %>
<% end %>
