<% issue = tab[:locals][:issue] %>
<% journals = tab[:locals][:journals] %>
<% reply_links = issue.notes_addable? -%>

<% for journal in journals %>
  <%= page_card class: 'mb-3' do %>
    <div id="change-<%= journal.id %>" class="<%= journal.css_classes %>">
      <div id="note-<%= journal.indice %>">
        <div class="d-flex justify-content-between">
          <div>
            <%= avatar(journal.user) %>
            <strong class="small text-muted"><%= authoring journal.created_on, journal.user, label: :label_updated_time_by %></strong>
            <%= render_private_notes_indicator(journal) %>
          </div>
          <div class="small text-muted">
            <%= render_journal_actions(issue, journal, reply_links: reply_links) %>
            <a href="#note-<%= journal.indice %>" class="journal-link">#<%= journal.indice %></a>
          </div>
        </div>
        <% if journal.details.any? %>
          <ul>
            <% details_to_strings(journal.visible_details).each do |string| %>
              <li><%= string %></li>
            <% end %>
          </ul>
          <% if Setting.thumbnails_enabled? && (thumbnail_attachments = journal_thumbnail_attachments(journal)).any? %>
            <div>
              <% thumbnail_attachments.each do |attachment| %>
                <div><%= thumbnail_tag(attachment) %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= render_notes(issue, journal, reply_links: reply_links) unless journal.notes.blank? %>
      </div>
    </div>
    <%= call_hook(:view_issues_history_journal_bottom, { journal: journal }) %>
  <% end %>
<% end %>

<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>
