<% if @query.available_display_types.size > 1 %>
  <div class="mb-3 row">
    <div class="col-auto">
      <label for='display_type'><%= l(:label_display_type) %></label>
    </div>
    <div class="col-auto">
      <% @query.available_display_types.each do |t| %>
        <div class="form-check form-check-inline">
          <%= radio_button_tag('display_type', t, @query.display_type == t, id: "display_type_#{t}", class: 'form-check-input') %>
          <label class="form-check-label" for="<%= "display_type_#{t}" %>"><%= l(:"label_display_type_#{t}") %></label>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mb-3 row">
  <div class="col-auto">
    <label for="query_default_columns"><%= l(:label_default_columns) %></label>
  </div>
  <div class="col-auto">
    <%= check_box_tag 'default_columns', 1, @query.has_default_columns?,id: 'query_default_columns', data: { disables: "#columns, .block_columns input" }, class: 'form-check-input' %>
  </div>
</div>

<% unless params[:gantt] %>
  <div class="mb-3 row align-items-center">
    <div class="col-auto">
      <label for="query_group_by"><%= l(:field_group_by) %></label>
    </div>
    <div class="col-auto">
      <%= select 'query', 'group_by', @query.groupable_columns.collect {|c| [c.caption, c.name.to_s]}, { include_blank: true }, class: 'form-select' %>
    </div>
  </div>

  <% unless @query.available_block_columns.empty? %>
    <div class="mb-3 form-group">
      <label><%= l(:button_show) %></label>
      <%= available_block_columns_tags(@query) %>
    </div>
  <% end %>

  <% unless @query.available_totalable_columns.empty? %>
    <div class="mb-3 form-group">
      <label><%= l(:label_total_plural) %></label>
      <%= available_totalable_columns_tags(@query) %>
    </div>
  <% end %>
<% else %>
  <div class="mb-3 form-group">
    <label><%= l(:button_show) %></label>

    <%= hidden_field_tag 'query[draw_relations]', '0' %>
    <%= hidden_field_tag 'query[draw_progress_line]', '0' %>
    <%= hidden_field_tag 'query[draw_selected_columns]', '0' %>

    <label class="inline">
      <%= check_box_tag "query[draw_relations]", "1", @query.draw_relations %> <%= l(:label_related_issues) %>
    </label>
    <label class="inline">
      <%= check_box_tag "query[draw_progress_line]", "1", @query.draw_progress_line %> <%= l(:label_gantt_progress_line) %>
    </label>
    <label class="inline">
      <%= check_box_tag "query[draw_selected_columns]", "1", @query.draw_selected_columns, data: { enables: 'span.query-columns select, span.query-columns input'} %> <%= l(:description_selected_columns) %>
    </label>
  </div>
<% end %>