<% title = l(:label_board_plural) %>
<% html_title title %>

<%= page_title content_tag(:h2, title) do %>
  <%= render 'boards/actions/setting', project: @project, text: true if User.current.allowed_to?(:manage_boards, @project) %>
<% end %>

<%= page_card do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= l(:label_board) %></th>
        <th><%= l(:label_topic_plural) %></th>
        <th><%= l(:label_message_plural) %></th>
        <th><%= l(:label_message_last) %></th>
      </tr>
    </thead>
    <tbody>
      <% Board.board_tree(@boards) do |board, level| %>
        <%= render 'board', board: board, level: level %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', url: { controller: 'activities', action: 'index', id: @project, show_messages: 1, key: User.current.rss_key } %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, { controller: 'activities', action: 'index', id: @project, format: 'atom', show_messages: 1, key: User.current.rss_key }) %>
<% end %>
