<% html_title @board.name %>
<%= board_breadcrumb(@board) %>

<%= page_title content_tag(:h2, @board.name) do %>
  <%= render 'boards/actions/add_message', board: @board, text: true if User.current.allowed_to?(:add_messages, @board.project) %>
  <%= render 'boards/actions/watch', board: @board, text: true %>
  <%= render 'boards/actions/setting', project: @project, text: true if User.current.allowed_to?(:manage_boards, @project) %>
<% end %>
<p><%= @board.description %></p>

<div id="add-message" style="display:none;">
  <% if User.current.allowed_to?(:add_messages, @board.project) %>
    <h2><%= link_to @board.name, project_board_path(@project, @board) %> &#187; <%= l(:label_message_new) %></h2>
    <%= form_for @message, url: new_board_message_path(@board), html: { multipart: true } do |f| %>
      <%= render 'messages/form', f: f %>
      <p><%= submit_tag l(:button_create) %>
    <% end %>
  <% end %>
</div>

<%= page_card do %>
  <% if @topics.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= l(:field_subject) %></th>
          <th><%= l(:field_author) %></th>
          <%= sort_header_tag('created_on', caption: l(:field_created_on)) %>
          <%= sort_header_tag('replies', caption: l(:label_reply_plural)) %>
          <%= sort_header_tag('updated_on', caption: l(:label_message_last)) %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'boards/topic', collection: @topics %>
      </tbody>
    </table>
    <span class="pagination"><%= pagination_links_full @topic_pages, @topic_count %></span>
  <% else %>
    <%= page_empty %>
  <% end %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', url: { key: User.current.rss_key } %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, { format: 'atom', key: User.current.rss_key }, title: "#{@project}: #{@board}") %>
<% end %>
