<% selected_tab = params[:tab] || (default_tab if defined?(default_tab)) %>
<% data ||= {} %>
<% data['paginator-item-count'] = paginator_item_count if defined?(paginator_item_count) %>
<% data['paginator-buttons-class'] = paginator_buttons_class if defined?(paginator_buttons_class) %>
<% locals ||= {} %>

<%= content_tag :ul, class: 'nav nav-tabs', id: 'nav-tab', role: 'tablist', data: data do %>
  <% content.each_with_index do |tab, i| %>
    <li class="nav-item">
      <% selected = tab[:name] == selected_tab %>
      <button class="nav-link<%= ' active' if selected %>"
        id="nav-<%= tab[:name] %>-tab"
        data-bs-toggle="tab"
        data-bs-target="#<%= tab[:name] %>"
        type="button"
        role="tab"
        aria-controls="nav-<%= tab[:name] %>"
        aria-selected="true">
        <%= l(tab[:label]) %>
      </button>
    </li>
  <% end %>
<% end %>

<div class="tab-content" id="nav-tab-content">
  <% tabs.each_with_index do |tab, ii| %>
    <% selected = tab[:name] == selected_tab %>
    <div class="tab-pane<%= ' show active' if selected %>"
      id="<%= tab[:name] %>"
      role="tabpanel"
      aria-labelledby="nav-<%= tab[:name] %>-tab">
      <%= page_card class: 'border-top-0' do %>
        <%= render tab[:partial], label: l(tab[:label]), tab: tab, locals: locals %>
      <% end %>
    </div>
  <% end %>
</div>