<%= page_title title([l(:label_tracker_plural), trackers_path], l(:field_summary)) %>

<% if @trackers.any? %>
  <%= page_card do %>

    <%= form_tag fields_trackers_path do %>
      <%= page_table head: ['&nbsp;'] + @trackers.map {|tracker| link_to(content_tag(:i, nil, class: 'bi bi-check-all h4 text-success'), '#', title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") + tracker.name} do %>
        <tr class="group open">
          <td colspan="<%= @trackers.size + 1 %>">
            <span class="expander icon icon-expended" onclick="toggleRowGroup(this);">&nbsp;</span>
            <%= l(:field_core_fields) %>
          </td>
        </tr>
        <% Tracker::CORE_FIELDS.each do |field| %>
          <tr>
            <% field_name = l("field_#{field}".sub(/_id$/, '')) %>
            <td class="name">
              <%= link_to_function('', "toggleCheckboxesBySelector('input.core-field-#{field}')", title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
              <%= field_name %>
            </td>
            <% @trackers.each do |tracker| %>
              <td title="<%= "#{tracker.name}: #{field_name}" %>">
                <%= check_box_tag "trackers[#{tracker.id}][core_fields][]", field, tracker.core_fields.include?(field), class: "tracker-#{tracker.id} core-field-#{field}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <% if @custom_fields.any? %>
          <tr class="group open">
            <td colspan="<%= @trackers.size + 1 %>">
              <span class="expander icon icon-expended" onclick="toggleRowGroup(this);">&nbsp;</span>
              <%= l(:label_custom_field_plural) %>
            </td>
          </tr>
          <% @custom_fields.each do |field| %>
            <tr>
              <td class="name">
                <%= link_to_function('', "toggleCheckboxesBySelector('input.custom-field-#{field.id}')", title: "#{l(:button_check_all)}/#{l(:button_uncheck_all)}", class: 'icon-only icon-checked') %>
                <%= field.name %>
              </td>
              <% @trackers.each do |tracker| %>
                <td title="<%= "#{tracker.name}: #{field.name}" %>">
                  <%= check_box_tag "trackers[#{tracker.id}][custom_field_ids][]", field.id, tracker.custom_fields.include?(field), class: "tracker-#{tracker.id} custom-field-#{field.id}" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>

      <% @trackers.each do |tracker| %>
        <%= hidden_field_tag "trackers[#{tracker.id}][core_fields][]", '' %>
        <%= hidden_field_tag "trackers[#{tracker.id}][custom_field_ids][]", '' %>
      <% end %>

      <p>
        <%= submit_tag l(:button_save) %>
      </p>

    <% end %>

  <% end %>
<% else %>
  <%= render 'no_data' %>
<% end %>
