<%= call_hook :view_account_login_top %>
<%= page_card class: 'mx-auto w-25 shadow' do %>
  <%= cache do %>
    <%= image_tag '/plugin_assets/redmine_bootstrap/images/logo.png', class: 'mx-auto d-block', style: 'height:62px !important;' %>
  <% end %>
  <%= page_heading :h3, t(:sign_in), class: 'text-center' %>
  <%= render_flash_messages %>
  <%= page_form_tag signin_path do %>
    <%= back_url_hidden_field_tag %>
    <%= page_paragraph do %>
      <%= page_text_field_tag 'username', params[:username], label: l(:field_login), tabindex: 1, autofocus: true, invalid: flash.present? %>
    <% end %>
    <%= page_paragraph do %>
      <% labels = [] %>
      <% labels << content_tag(:span, l(:field_password)) %>
      <% labels << content_tag(:em, page_link_to(l(:label_password_lost), lost_password_path), class: 'small') if Setting.lost_password? %>
      <%= page_password_field_tag 'password', nil, label: labels.compact.join(' ').html_safe, tabindex: 2, invalid: flash.present? %>
    <% end %>
    <% if Setting.openid? %>
      <%= page_paragraph do %>
        <%= page_text_field_tag 'openid_url', nil, label: l(:field_identity_url), tabindex: 3, invalid: flash.present? %>
      <% end %>
    <% end %>
    <% if Setting.autologin? %>
      <%= page_paragraph do %>
        <%= page_check_box_tag 'autologin', 1, false, label: l(:label_stay_logged_in), tabindex: 4, invalid: flash.present? %>
      <% end %>
    <% end %>
    <%= page_paragraph class: 'd-grid gap-2' do %>
      <%= page_submit_tag l(:button_login), tabindex: 5 %>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <span>Or</span>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <%= page_link_to l(:label_register), register_path %>
    <% end %>
  <% end %>
<% end %>
<%= call_hook :view_account_login_bottom %>
