<%= page_card class: 'mx-auto w-25 shadow' do %>
  <%= image_tag '/plugin_assets/redmine_bootstrap/images/logo.png', class: 'mx-auto d-block', style: 'height:62px !important;' %>
  <%= page_heading :h3, l(:label_password_lost), class: 'text-center' %>
  <%= render_flash_messages %>
  <%= page_form_tag lost_password_path do %>
    <%= page_paragraph do %>
      <%= page_text_field_tag 'mail', nil, size: 40, label: l(:field_mail), required: true, invalid: flash.present? %>
    <% end %>
    <%= page_paragraph class: 'd-grid gap-2' do %>
      <%= page_submit_tag l(:button_submit) %>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <span>Or</span>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <%= page_link_to l(:label_login), signin_path %>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <%= page_link_to l(:label_register), register_path %>
    <% end %>
  <% end %>
<% end %>