<h2><%= l(:label_password_lost) %></h2>

<%= error_messages_for 'user' %>

<%= form_tag(lost_password_path) do %>
  <%= hidden_field_tag 'token', @token.value %>

  <div class="mb-3 form-group">
    <label for="new_password">
      <%= l(:field_new_password)%> <span class="required">*</span>
    </label>
    <%= password_field_tag 'new_password', nil, size: 25, class: 'form-control' %>
    <em class="small text-muted"><%= l(:text_caracters_minimum, count: Setting.password_min_length) %></em>
    <% if Setting.password_required_char_classes.any? %>
      <em class="small text-muted">
        <%= l(:text_characters_must_contain, character_classes: Setting.password_required_char_classes.collect{ |c| l("label_password_char_class_#{c}") }.join(", ")) %>
      </em>
    <% end %>
  </div>

  <div class="mb-3 form-group">
    <label for="new_password_confirmation">
      <%= l(:field_password_confirmation)%> <span class="required">*</span>
    </label>
    <%= password_field_tag 'new_password_confirmation', nil, size: 25, class: 'form-control' %>
  </div>

  <div class="mb-3 form-group">
    <%= submit_tag l(:button_save), class: 'btn btn-primary' %>
  </div>
<% end %>
