<%= page_card class: 'mx-auto w-25 shadow' do %>
  <%= image_tag '/plugin_assets/redmine_bootstrap/images/logo.png', class: 'mx-auto d-block', style: 'height:62px !important;' %>
  <%= page_heading :h3, class: 'text-center' do %>
    <%= l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %>
  <% end %>
  <%= form_for @user, url: register_path, builder: PageFormBuilder do |f| %>
    <%= render_alert 'danger', error_messages_for('user') %>
    <% if @user.auth_source_id.nil? %>
      <%= page_paragraph do %>
        <%= f.page_text_field :login, size: 25 %>
      <% end %>
      <%= page_paragraph do %>
        <% hints = [l(:text_caracters_minimum, count: Setting.password_min_length)] %>
        <% hints << l(:text_characters_must_contain, character_classes: Setting.password_required_char_classes.collect{|c| l("label_password_char_class_#{c}")}.join(", ")) if Setting.password_required_char_classes.any? %>
        <% hint = hints.compact.join(' ').html_safe %>
        <%= f.page_password_field :password, size: 25, hint: { content: hint } %>
      <% end %>
      <%= page_paragraph do %>
        <%= f.page_password_field :password_confirmation, size: 25 %>
      <% end %>
    <% end %>
    <%= page_paragraph do %>
      <%= f.page_text_field :firstname %>
    <% end %>
    <%= page_paragraph do %>
      <%= f.page_text_field :lastname %>
    <% end %>
    <%= page_paragraph do %>
      <%= f.page_text_field :mail %>
    <% end %>
    <%= fields_for :pref, @user.pref, builder: PageFormBuilder do |pref_fields| %>
      <%= page_paragraph do %>
        <%= pref_fields.page_check_box :hide_mail %>
      <% end %>
    <% end %>
    <% unless @user.force_default_language? %>
      <%= page_paragraph do %>
        <%= f.page_select :language, lang_options_for_select, {} %>
      <% end %>
    <% end %>
    <% if Setting.openid? %>
      <%= page_paragraph do %>
        <%= f.page_text_field :identity_url %>
      <% end %>
    <% end %>
    <% @user.custom_field_values.select {|v| (Setting.show_custom_fields_on_registration? && v.editable?) || v.required?}.each do |value| %>
      <%= page_paragraph do %>
        <%= custom_field_tag_with_label :user, value %>
      <% end %>
    <% end %>
    <%= page_paragraph class: 'd-grid gap-2' do %>
      <%= page_submit_tag l(:button_submit) %>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <span>Or</span>
    <% end %>
    <%= page_paragraph class: 'text-center' do %>
      <%= page_link_to l(:label_login), signin_path %>
    <% end %>
  <% end %>
<% end %>