<div class="accordion" id="accordionPanelsActivity">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#activity-sidebar" aria-expanded="true" aria-controls="activity-collapseOne">
        <strong><%= l(:label_activity) %></strong>
      </button>
    </h2>
    <div id="activity-sidebar" class="accordion-collapse collapse show" aria-labelledby="activity-headingOne">
      <div class="accordion-body">
        <%= form_tag({}, method: :get, id: 'activity_scope_form') do %>
          <div class="mb-3 row form-group">
            <label class="col-sm-5 col-form-label">
              <%= t(:label_days_to_html, days: @days, date: nil) %>
            </label>
            <div class="col-sm-7">
              <%= date_field_tag('from', '', value: (@date_to - 1), size: 10, class: 'form-control') %>
            </div>
          </div>
          <div class="mb-3 row form-group">
            <label class="col-sm-5 col-form-label">
              <%= l(:label_user) %>
            </label>
            <div class="col-sm-7">
              <%= select_tag('user_id', activity_authors_options_for_select(@project, params[:user_id]), include_blank: true, class: 'form-select') %>
            </div>
          </div>
          <% @activity.event_types.each do |t| %>
            <div class="mb-3 form-check form-switch">
              <%= check_box_tag "show_#{t}", 1, @activity.scope.include?(t), class: 'form-check-input' %>
              <label for="show_<%=t%>" class="form-check-label">
                <%= link_to(l("label_#{t.singularize}_plural"), {"show_#{t}" => 1, :user_id => params[:user_id], :from => params[:from]})%>
              </label>
            </div>
          <% end %>
          <% if @project && @project.descendants.active.any? %>
            <%= hidden_field_tag 'with_subprojects', 0, id: nil %>
            <div class="mb-3 form-check form-switch">
              <%= check_box_tag 'with_subprojects', 1, @with_subprojects, class: 'form-check-input' %>
              <label><%= l(:label_subproject_plural)%> </label>
            </div>
          <% end %>
          <div class="mb-3 d-grid gap-2">
            <%= submit_tag l(:button_apply), class: 'btn btn-primary', name: 'submit' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
