<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <h1><%= page_header_title %></h1>
    <div class="collapse navbar-collapse">
      <% if User.current.logged? || !Setting.login_required? %>
        <div class="d-flex gap-2 ms-auto">
          <%= form_tag({controller: 'search', action: 'index', id: @project}, method: :get) do %>
            <%= hidden_field_tag 'scope', default_search_project_scope, id: nil %>
            <%= hidden_field_tag(controller.default_search_scope, 1, id: nil) if controller.default_search_scope %>
            <div class="d-flex align-items-center">
              <%= link_to l(:label_search), { controller: 'search', action: 'index', id: @project, scope: default_search_project_scope },
                          accesskey: accesskey(:search), class: 'text-decoration-none me-1' %>
              <%= text_field_tag 'q', @question, size: 20, class: 'small form-control', accesskey: accesskey(:quick_search), data: { auto_complete: true } %>
            </div>
          <% end %>
          <%= render_project_jump_box %>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<% if display_main_menu?(@project) %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= render 'main_menu', project: @project %>
      <div class="tabs-buttons" style="display:none;">
        <button class="tab-left" onclick="moveTabLeft(this); return false;"></button>
        <button class="tab-right" onclick="moveTabRight(this); return false;"></button>
      </div>
    </div>
  </nav>
<% end %>
