<% html_title l(:label_my_page) -%>

<%= page_title page_heading(:h2, l(:label_my_page)) do %>
  <%= page_form_tag({action: 'add_block'}, remote: true, id: 'block-form', authenticity_token: true) do %>
    <div class="row align-items-center">
      <div class="col-auto">
        <label for="block-select"><%= l(:button_add) %></label>
      </div>
      <div class="col-auto">
        <%= select_tag 'block', options_for_select_to_add_block_in_my_page,
          id: "block-select",
          onchange: 'this.form.submit(); return false;',
          include_blank: true,
          class: 'form-select' %>
      </div>
    </div>
  <% end %>
<% end %>

<% @groups.each do |group| %>
  <div id="list-<%= group %>" class="block-receiver splitcontent<%= group %>">
    <%= render_blocks(@blocks[group], @user) %>
  </div>
<% end %>
